@tailwind base;

body {
    @apply text-black bg-white;
}

#js-only {
    @apply hidden;
}

/* navbar */
.navbar {
    @apply px-6 py-2;
    @apply bg-purple-900 text-white;
}
.navbar img {
    @apply mr-2;
    max-height: 2rem;
}
.navbar-brand {
    @apply flex items-center flex-shrink-0;
}
.navbar-menu {
    @apply mr-6 border rounded cursor-pointer;
    @apply border-white;
}

#menu {
    @apply mt-4;
}
#menu li {
    @apply py-1;
}
.lang-menu ul li {
    @apply ml-5;
}
.active {
    @apply border-b-2 border-white;
}
.underlined {
    @apply underline;
}

/* modales */
.modal {
  @apply transition-opacity duration-300 ease-in-out;
  @apply fixed w-full h-full top-0 left-0 flex items-center justify-center;
}
.modal.inactive {
    @apply opacity-0 pointer-events-none;
}
.modal-overlay {
    @apply absolute w-full h-full bg-gray-700 opacity-75;
}
.modal-container {
    @apply bg-white w-11/12 mx-auto rounded shadow-lg z-50 overflow-y-auto;
}
@media (min-width: 768px) {
    .modal-container {
        @apply max-w-md;
    }
}
.modal-title {
    @apply flex justify-between items-center pb-3;
}
.modal-content {
    @apply py-4 text-left px-6;
}
body.modal-active {
    @apply overflow-x-hidden;
    @apply overflow-y-visible !important;
}
input {
    @apply border rounded-lg w-full p-2 mb-2;
    @apply border-gray-300 bg-white text-black;
}
.modal input[type="checkbox"] {
    @apply mb-4;
}
input[type="checkbox"] {
    @apply w-auto;
}
input::placeholder {
    @apply text-gray-600;
}
.btn {
    @apply border border-white rounded-lg p-2 mr-2;
    @apply bg-purple-800 text-white !important;
}
.btn.cancel {
    @apply float-right mr-0;
}
.modal h1 {
    @apply text-2xl font-bold;
}
.modal .e-i-data {
    @apply mb-2;
}

/* Icons */
svg {
    @apply h-4 w-4;
    @apply text-black;
}
.navbar svg {
    @apply text-white;
}
svg.icon-hamburger {
    @apply h-8 w-8;
}
svg.icon-language,
svg.icon-caret-down,
svg.icon-caret-up {
    @apply inline-block;
}
svg.icon-download,
svg.icon-upload,
svg.icon-plus-button {
    @apply h-6 w-6;
}
#menu svg.icon-trash,
#menu svg.icon-edit,
svg.icon-plus-button {
    @apply -mb-1;
}

svg.icon-download,
svg.icon-upload {
    @apply inline-block;
}

/* List content */
main {
    @apply m-4;
}
main h1,
main h2 {
    @apply font-bold mb-2;
}
main h1 {
    @apply text-2xl font-bold mb-2;
}
main h2 {
    @apply text-xl font-bold mb-2;
}
main .modif svg {
    @apply text-lg;
    @apply h-6 w-6;
    @apply mx-1 mb-1;
}
main li span,
main li button {
    @apply align-middle;
}
main ul,
main hr {
    @apply mb-2;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
    body { @apply text-white bg-gray-900; }
    svg { @apply text-white; }
    .modal-container { @apply bg-gray-900; }
    input { @apply border-gray-700; }
    input::placeholder { @apply text-gray-800; }
    .btn { @apply bg-purple-700 border-gray-700; }
}
@tailwind utilities;
